<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: blue;
            background: red;
        }
    </style>
</head>
<body>
    <h1>Hello server current Date and Time is:</h1>
    <ol>
        <li>{{date}}</li>
        <li>{{name}}</li>
        <li>{{roll.no}}</li>
        <li>{{marks}}</li>
    </ol>

    
</body>
</html>